<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.inconsistency.category.uml.inconsistency"
            class="com.plugin.views.InconsistencyPanel"
            icon="icons/anomaly_blue.png"
            id="com.inconsistency.InconsistencyAnalyser"
            name="UML Harmony Validator Panel"
            restorable="true">
      </view>
      <category
            id="com.inconsistency.category.uml.inconsistency"
            name="UML Harmony Validator">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.plugin.handlers.AnalyseInconsistenciesHandler"
            commandId="com.inconsistency.handlers.AnalyseInconsistenciesHandler">
      </handler>
      <handler
            class="com.plugin.handlers.SettingsHandler"
            commandId="com.inconsistency.handlers.SettingsHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.plugin.handlers.AnalyseInconsistenciesHandler"
            id="com.inconsistency.handlers.analyseinconsistenciescommand"
            name="analyse">
      </command>
      <command
            defaultHandler="com.plugin.handlers.SettingsHandler"
            id="com.inconsistency.handlers.settingscommand"
            name="Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.inconsistency.InconsistencyAnalyser">
         <command
               commandId="com.inconsistency.handlers.analyseinconsistenciescommand"
               icon="icons/detection.png"
               label="%menu.command.analyse.name"
               style="push"
               tooltip="%menu.command.analyse.desc">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.inconsistency.InconsistencyAnalyser">
         <command
               commandId="com.inconsistency.handlers.analyseinconsistenciescommand"
               icon="icons/detection.png"
               label="%menu.command.analyse.name"
               style="push"
               tooltip="%menu.command.analyse.name">
         </command>
         <command
               commandId="com.inconsistency.handlers.settingscommand"
               icon="icons/cogwheel.png"
               label="%menu.command.settings.name"
               style="push"
               tooltip="%menu.command.settings.desc">
         </command>
      </menuContribution>
   </extension>

</plugin>
